<div>
    <form method="POST" action="/behaviour/summary">  
        <% if (res.mavg || res.navg) { %>   
   <h3>Month <%=month%> of <%=year%>. You have reported <%=res.count%> times this Month!</h3>
   <p>Average sleepduration: <%=res.sd%></p>
   <p>Average sleepquality: <%=res.sq%></p>
   <p>Average sportduration: <%=res.spd%></p>
   <p>Average studyduration: <%=res.std%></p>
   <p>Average mood: <%=((Number(res.navg) + Number(res.mavg)) /2)%></p>
   <% } else { %>
    <h1>You have not reported anything this month</h1>
 <% } %>    
   <p>View another Month <input type="month" name="month"/></p> 
   <input type="submit" value="Change Month"/>
   </form>
   </div>