<h2>Night</h2>
<%-include("changeDay.ejs")%> 
<form method="POST" action="/behaviour/reporting">
    <input type="text" hidden name="changed" value="MORNING" />
    <input type="date" hidden name="day" value="<%=date%>"/>
    <input type="submit" value="Report Morning!" />
</form> 
<form method="POST" action="/api/update">
    <input hidden name="day" value="<%=date%>"/>
    <input hidden id="mmood" type="range" name="mmood" min="1" max="5"value="<%=day.mmood%>"/>
    <input hidden id="slq" type="range" name="sleepquality" min="1" max="5" value="<%=day.sleepquality%>"/>
    <input hidden id="sld" type="number" name="sleepduration" value="<%= day.sleepduration%>"/>

    <label for="spd">How much have you exercised today?</label>   
    <input id="spd" min="0" max="24" required type="number" name="sportduration" value="<%=day.sportduration%>"/>
    <br/>
    <label for="std">How much did you study today?</label>   
    <input id="std" min="0" max="24" required type="number" name="studyduration" value="<%=day.studyduration%>"/>
    <br/>
    <label for="eat">How well have you eaten today?</label>   
    <input id="eat"type="range" required oninput="this.nextElementSibling.value = this.value" name="eat" min="1" max="5" value="<%=day.eat%>"/>
    <output><%=day.eat%></output>
    <br/>
    <label for="nmood">General mood this evening?</label>   
    <input id="nmood" type="range" required name="nmood" oninput="this.nextElementSibling.value = this.value" min="1" max="5" value="<%=day.nmood%>"/>
    <output><%=day.nmood%></output>
    <br/>
    <input type="submit" name="Report!">
</form>
