<%- include('./partials/header.ejs') %>
<%- include('./partials/back.ejs') %>
<h1>Summaries</h1>
<% console.log(week) %> 
<% console.log(month) %> 
<%- include('./partials/weekSummary.ejs', week)  %> 
<%- include('./partials/monthSummary.ejs', month)  %> 
<%- include('./partials/footer.ejs') %>